<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header.html::header">
</head>
<body>
<div th:replace="fragment/header.html::nav"></div>
<div class="row">
    <div class="col-md-4">
        <img alt="Bootstrap Image Preview" th:src="'/image/'+${actor.getPhotoPath()}" height="300" width="300" />
    </div>
    <div class="col-md-6">
        <h2 th:text="${actor.nom}">
            Heading
        </h2>
        </p>
        <p th:text="'prenom : '+${actor.prenom}">
            prenom de l'acteur
        </p>
        <p th:text="'date de naissance : '+${actor.naissance}">
            naissance
        </p>
    </div>
    <div th:each="jeu:${actor.getPosts()}" class="row">
        <div class="col-md-4">
            <img alt="Bootstrap Image Preview" th:src="'/affiche/'+${jeu.film.image_path}" height="150" width="150" />
        </div>
        <div class="col-md-6">
            <h2  th:text="'nom : '+${jeu.film.title}">
                heading
            </h2>
            <p th:text="'A jouer le '+${jeu.rank}+'er role : '+${jeu.name}">
                nom du role
            </p>
            <h3>
                Résumé :
            </h3>
            <p th:text="${jeu.film.summary}">
                prenom de l'acteur
            </p>
            <div th:each="genre:${jeu.film.getGenreFilm()}">
                <p th:text="${genre.name}"> genre</p>
            </div>
            <p>
                <a class="btn" th:href="@{'/film/'+${jeu.film.id}}">View details »</a>
            </p>
        </div>
    </div>
</div>
<div th:replace="fragment/footer.html::footer"></div>
</body>
</html>