<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header.html::header">
</head>
<body>
<div th:replace="fragment/header.html::nav"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <img alt="Bootstrap Image Preview" th:src="'/affiche/'+${film.getImage_path()}"height="300" width="300" />
        </div>
        <div class="col-md-6">
            <h2 th:text="${film.title}">
                Heading
            </h2>
            <p th:text="${film.summary}">
               resumer du film
            </p>
            <p th:each="genre:${film.getGenreFilm()}" th:text="${genre.name}">
            </p>
            <p th:text="'note ='+${film.rating}">
              note du film
            </p>
        </div>
    </div>
    <div th:each="test:${role}" class="row">
        <div class="col-md-4">
            <img alt="Bootstrap Image Preview" th:src="'/image/'+${test.getperson().photoPath}" height="150" width="150" />
        </div>
        <div class="col-md-6">
            <h2 th:text="${test.getRank()}+'er role : '+${test.getName()}">
                Heading
            </h2>
            <p th:text="'nom : '+${test.getperson().nom}">
               nom de l'acteur
            </p>
            <p th:text="'prenom : '+${test.getperson().prenom}">
                prenom de l'acteur
            </p>
            <p th:text="'date de naissance : '+${test.getperson().naissance}">
                prenom de l'acteur
            </p>
            <p>
                <a class="btn" th:href="@{'/acteur/'+${test.getperson().getPhotoPath()}}">View details »</a>
            </p>
        </div>
    </div>
</div>
<div th:replace="fragment/footer.html::footer"></div>
</body>

</html>