<!DOCTYPE html>
<!--declaration d'un espace de nommage th dans lequ'elle est stocké thymeleaf-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header.html::header">
</head>
<body>
<div th:replace="fragment/header.html::nav"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div th:each="jilm:${films}" class="col-md-4">
                    <h2 th:text="${jilm.getTitle()}">
                        Heading
                    </h2>
                    <p th:text="${jilm.summary}">
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    </p>
                    <p>
                        <a class="btn" th:href="@{'/film/'+${jilm.id}}">View details »</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragment/footer.html::footer"></div>
</body>
</html>